
 <div class="container container-styles">


  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">


      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" [(ngModel)]="user.firstname" 
          class="form-control"
          id="firstname"
          name="firstname"
          placeholder="Enter your first name"
          required #firstname="ngModel">
      </div>


            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" [(ngModel)]="user.lastname" 
                class="form-control"
                id="lastname"
                name="lastname"
                placeholder="Enter your last name"
                required #lastname="ngModel">
            </div>


      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email" 
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter your email address"
          required #email="ngModel">
      </div>


            <div class="form-group">
              <label for="phonenumber">Mobile Number</label>
              <input type="text" [(ngModel)]="user.phonenumber" 
                class="form-control"
                id="phonenumber"
                name="phonenumber"
                placeholder="Enter your mobile"
                required #phonenumber="ngModel">
            </div>



                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" [(ngModel)]="user.address" 
                      class="form-control"
                      id="address"
                      name="address"
                      placeholder="Enter your address"
                      required #address="ngModel">
                  </div>


      <button type="submit" [disabled]="!userForm.form.valid" 
        class="btn btn-info">Submit</button>

        <div *ngIf="submitted">
					<span class="text-danger font-weight-bold">User Added Successfully </span>
                </div>
    </form>
    
  </div>
</div>
